/*VARIABLES AND SOME DEFAULT SETTINGS*/
:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --peachedit: #ecd093;
    --peachedit2: #e9bb77;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface1: #282936;
    --base: rgba(2, 2, 2, 0.425);
    --winbutton: #565178;
    --icon: #b5c7d7;
    --basetransparent: rgba(30, 30, 46, 0.6);
    --mantle: rgba(85, 85, 85, 0.404);
    --crust: rgba(17, 17, 27, 1);
}

* {
    font-size: 12px;
    color: var(--text);
    font-weight: 600;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}

.yasb-bar {
    padding: 0;
    margin: 0;
    background-color: var(--base);
}

.widget {
    padding: 0 4px;
    margin: 0 4px;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0);
}

.widget .icon {
    font-size: 18px;
}

.widget .label {
    color: var(--text);
}

.active-window-widget {
}

.active-window-widget .widget-container .icon {
    margin-right: 8px;
}

/* Clock Setting */

.clock-widget .label {
    font-size: 14px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.clock-widget .icon {
    font-size: 50px;
    margin: 0 -1px;
    padding: 0;
    font-weight: 600;
}

.clock-widget {
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 0 20px;
}

/* CPU MEMORY Setting */
.cpu-widget {
    padding-right: 0;
}

.memory-widget {
    padding-left: 0;
}

.cpu-widget .widget-container {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.memory-widget .widget-container {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.memory-widget .label {
    min-width: 34px;
    max-width: 34px;
}

.cpu-widget .label {
    min-width: 34px;
    max-width: 34px;
}

.cpu-widget .icon {
    margin-right: 8px;
}

.memory-widget .icon {
    margin-right: 8px;
}


/* POWER MENU */
.power-menu-popup {
    background: var(--crust);
    border-radius: 8px;
}

.power-menu-widget .label {
    color: #eba0ac;
    font-size: 16px
}

.power-menu-popup .button {
    margin: 5px;
    width: 200px;
    height: 175px;
    border-radius: 8px;
    background-color: var(--base);
    color: white;

}

.power-menu-popup .button.hover {
    background-color: var(--base);
}

.power-menu-popup .button .label {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
}

.power-menu-popup .button .icon {
    font-size: 55px;
    color: var(--text);
}

.power-menu-popup .button.cancel .icon {
    color: var(--red);
}

.power-menu-popup .button.cancel .label {
    color: var(--red);
}

.media-widget {
    padding: 0;
    margin: 0;
}

.media-widget .label {
    color: var(--lavender);
    padding: 0px;
    padding-right: 16px;
}

.media-widget .btn {
    color: var(--overlay1);
    padding: 0 0px;
    padding-right: 0px;
    margin: 4px 0;
    font-family: Segoe Fluent Icons;
}

.media-widget .btn:hover {
    color: var(--subtext0);
}

.media-widget .btn.play {
    font-size: 16px;
}

.media-widget .btn.prev {
    padding: 0 0px 0 0px;
    font-size: 12px;
}

.media-widget .btn.next {
    padding: 0 8px 0 0px;
    font-size: 12px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: var(--surface1);
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}

.battery-widget .widget-container .label.status-low {
    color: var(--red);
    padding: 0 6px 0 6px;
}

.battery-widget .widget-container .label.status-medium {
    color: var(--yellow);
    padding: 0 6px 0 6px;
}

.battery-widget .widget-container .label.status-high {
    color: var(--teal);
    padding: 0 6px 0 6px;
    border-radius: 8px;
}

.battery-widget .widget-container .label.status-full {
    color: var(--green);
    padding: 0 6px 0 6px;
}

.battery-widget .widget-container .label.status-charging {
    color: var(--blue);
    padding: 0 6px 0 6px;
}

.battery-widget .widget-container .icon.status-low {
    color: var(--red);
}

.battery-widget .widget-container .icon.status-medium {
    color: var(--yellow);
}

.battery-widget .widget-container .icon.status-high {
    color: var(--teal);
}

.battery-widget .widget-container .icon.status-full {
    color: var(--green);
}

.battery-widget .widget-container .icon.status-charging {
    color: var(--blue);
}

.traffic-widget {
    min-width: 76px;
}

.traffic-widget .label {
    font-size: 11px;
}

/* SYSTEM TRAY */
.systray {
    margin: 0;
    border: none;
    margin: 0;
    border-radius: 12px;
    background: transparent;
}

.systray .pinned-container[forceshow=true] {
    background: var(--surface2);
}

.systray .button {
    border-radius: 4px;
    padding: 2px 2px;
}

.systray .button:hover {
    background: rgba(41, 41, 41, 0.42);
}

.systray .button[dragging=true] {
    background: cyan;
    border-color: #FF8800;
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    height: 20px;
    width: 16px;
}

.systray .unpinned-visibility-btn:checked {
    background: darkblue;
}

.systray .unpinned-visibility-btn:hover {
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    border-color: #AAAAAA;
}